* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arbol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-nodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 6px;
}

.nodo {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    position: relative;
}

.hijos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.lineas {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 10px;
}

.linea {
    width: 50%;
    height: 20px;
    position: relative;
}

.linea.izquierda::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    left: 68%;
    top: -10px;
    transform: rotate(45deg); 
    transform-origin: top left;
}

.linea.derecha::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
    right: 69%;
    top: -10px;
    transform: rotate(-45deg); 
    transform-origin: top right;
}

.espacio {
    flex-grow: 1;
}
